<?xml version='1.0' encoding='utf-8'?>
<widget id="za.co.alexanderbar" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AlexanderBarCT</name>
    <description>
        The Alexander Bar, Café &amp; Theatre app allows customers of the charming Alexander bar in Strand Street, Cape Town to:
- instantly check the name, title and album of the currently playing song
- check their Florin and open table balances
- browse and book for shows in the Upstairs theatre with ease
- send telegrams which get printed in the bar and delivered by our staff
- browse our food and beverage menu
    </description>
    <author email="nicholas@nitric.co.za" href="http://cordova.io">
        Nitric Software Laboratory
    </author>
    <content src="index.html" />
    <access origin="https://alexanderbar.co.za" />
    <icon src="icon.png" />
</widget>
